// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
/*=========================================================*/

/* Login Page, Need Update Page, Losing Cash Page */

/* TEXT */
.info-text {
    margin-top: 42%;
    font-family: MuseoSansW01-Rounded700;
}
.info-text ion-label {
    text-align: center;
    color: #fff;
}
.info-text-top {
    font-size: 1.6em;
}
.info-text-bottom {
    font-size: 1.6em;
    margin-top: -10px;
}

/* George img and Button */
.george-and-button {
    margin-top: 13%;
}
.george-and-button ion-col {
    text-align: center;
}
.george-and-button button {
    width: 100%;
    height: 13.3vw;
    border-radius: 10px;
    margin-top: -16.1px;
    text-transform: none !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
    font-family: "MuseoSansW01-Rounded700";
}
.george-and-button img {
    position: relative;
    z-index: 10;
}
.button-icon img {
    margin-right: 10px;
}
/* Login button color */
.login-button button {
    background-color: #4267b2;
}
.login-button .activated {
    background-color: #3a5da5 !important;
}
/* Update button color */
.update-button button {
    background-color: #ff6363;
}
.update-button .activated {
    background-color: #f35d5d !important;
}
/* Lose cash button color */
.cash-button button {
    background-color: #00cf98;
}
.cash-button .activated {
    background-color: #03af81 !important;
}

/* Login Page background */
.login-page {
    background-color: #00cf98 !important;
}
/* Update Page background */
.need-update {
    background-color: #00cf98 !important;
}
/* Lose Cash Page background */
.lost-cash {
    background-color: #FF6363 !important;
}
/*=========================================================*/

/* You Won/Lost Pages */
.you-won {
  background-color: #00cf98 !important;
}
.you-lost {
  background-color: #FF6363 !important;
}
.won-button button {
  background-color: #01bd8b;
}
.lost-button button {
  background-color: #dc5454;
}
/*=========================================================*/
.item {
    min-height: 0px !important;
}

/* Game Page */
/* HEADER */
.toolbar {
    min-height: 18.67vw !important;
}
.toolbar {
    position: relative !important;
}
.information-button {
    float: left;
}
.toolbar-title {
    color: #4A535D !important;
    font-family: "MuseoSansW01-Rounded700";
    font-size: 2.2rem;
}

/*TUTORIALS*/
.introjs-overlay {
    opacity: 0.5 !important;
}
.introjs-arrow.left {
    display: none !important;
}
.introjs-arrow.right {
    display: none !important;
}
.introjs-arrow.top {
    display: none !important;
}
.introjs-arrow.bottom {
    display: none !important;
}
.introjs-button {
    display: none;
}
.introjs-bullets {
    display: none;
}
.introjs-helperLayer {
    border-radius: 10px !important;
    box-shadow: none !important;
}
.introjs-fixParent {
    background-color: #fff;
}

/*=========================================================*/

@import "../pages/page-2/page-2";
@import  "../pages/login-page/login-page";
@import "../pages/you-won/you-won";

@font-face {
  font-family: "MuseoSansW01-Rounded700";
  src: url("../fonts/museosans-rounded700.eot");
  src: url("../fonts/.eot?#iefix") format("embedded-opentype"),
  url("../fonts/museosans-rounded700.woff2") format("woff2"),
  url("../fonts/museosans-rounded700.woff") format("woff"),
  url("../fonts/museosans-rounded700.ttf") format("truetype"),
  url("../fonts/museosans-rounded700.svg#MuseoSansW01-Rounded700") format("svg");
}


@font-face {
  font-family: "MuseoSansW01-Rounded900";
  src: url("../fonts/museosans-rounded900.eot");
  src: url("../fonts/museosans-rounded900.eot?#iefix") format("embedded-opentype"),
  url("../fonts/museosans-rounded900.woff2") format("woff2"),
  url("../fonts/museosans-rounded900.woff") format("woff"),
  url("../fonts/museosans-rounded900.ttf") format("truetype"),
  url("../fonts/museosans-rounded900.svg#MuseoSansW01-Rounded900") format("svg");
}

@font-face {
  font-family: "MuseoSansW01-Rounded300";
  src: url("../fonts/museosans-rounded300.eot");
  src: url("../fonts/museosans-rounded300.eot?#iefix") format("embedded-opentype"),
  url("../fonts/museosans-rounded300.woff2") format("woff2"),
  url("../fonts/museosans-rounded300.woff") format("woff"),
  url("../fonts/museosans-rounded300.ttf") format("truetype"),
  url("../fonts/museosans-rounded300.svg#MuseoSansW01-Rounded300") format("svg");
}

@font-face {
  font-family: "MuseoSans500";
  src: url("../fonts/museosans-500.eot");
  src: url("../fonts/museosans-500.eot?#iefix") format("embedded-opentype"),
  url("../fonts/museosans-500.woff") format("woff"),
  url("../fonts/museosans-500.ttf") format("truetype"),
  url("../fonts/museosans-500.svg#MuseoSans500") format("svg");
}

/* Scroll Disabled */
scroll-content {
    overflow-y: hidden;
}
.scroll-bar-indicator {
    display: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
