/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.info-text {
		margin-top: 30%;
	}
	.info-text-top {
		font-size: 2.2em;
	}
	.info-text-bottom {
		font-size: 2.2em;
	}
	.george-and-button img {
		width: 220px;
		height: 250px;
	}
	.george-and-button button {
		font-size: 1.6em; 
		margin-top: -24px;
	}
	.george-img img {
		width: 220px;
		height: 250px;
	}
	.button-icon img {
		width: 34px;
		height: 25px;
	}
}

/* Nexus 10 */
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
	.info-text {
	    margin-top: 38%;
	}
}
/* Nexus 5X */
@media only screen and (min-device-width : 411px) and (max-device-width : 411px) and (orientation : portrait) {
	.george-and-button button { 
		margin-top: -15.5px;
	}
}
@media only screen and (max-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) {
	.george-and-button button { 
		margin-top: -15px;
	}
}
/* iPhone 5 */
@media only screen and (min-device-width : 320px) and (max-device-width : 320px) and (orientation : portrait) {
	.george-and-button button { 
		margin-top: -15.5px;
	}
}
