scroll-content {
    overflow-y: hidden;
}
.scroll-bar-indicator {
    display: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.you-lost {
	background-color: #FF6363 !important;
}
.button-trade-lost button {
	width: 100%;
	height: 13.3vw;
	border-radius: 10px;
	margin-top: -17px;
	background-color: #dc5454;
	text-transform: none !important;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}
.button-trade-lost .activated {
	background-color: #f35d5d !important;
}
.button-trade-lost button img {
	margin-right: 10px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.george-lost img {
		width: 342px;
		height: 232px;
	}
	.button-trade-lost button {
		font-size: 1.6em;
	}
	.button-trade-lost img {
		width: 34px;
		height: 25px;
	}
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
	.text-cash {
	    margin-top: 38%;
	}
}