@font-face {font-family: "MuseoSansW01-Rounded700";
    src: url("../fonts/7438bbf176f4cce037dbe179c0e5aece.eot");
    src: url("../fonts/7438bbf176f4cce037dbe179c0e5aece.eot?#iefix") format("embedded-opentype"),
    url("../fonts/7438bbf176f4cce037dbe179c0e5aece.woff2") format("woff2"),
    url("../fonts/7438bbf176f4cce037dbe179c0e5aece.woff") format("woff"),
    url("../fonts/7438bbf176f4cce037dbe179c0e5aece.ttf") format("truetype"),
    url("../fonts/7438bbf176f4cce037dbe179c0e5aece.svg#MuseoSansW01-Rounded700") format("svg");
}


@font-face {font-family: "MuseoSansW01-Rounded900";
    src: url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.eot");
    src: url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.woff2") format("woff2"),
    url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.woff") format("woff"),
    url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.ttf") format("truetype"),
    url("../fonts/c0df826ccaab9c4bfd6710508af4abf1.svg#MuseoSansW01-Rounded900") format("svg");
}

@font-face {font-family: "MuseoSansW01-Rounded300";
    src: url("../fonts/1b4cd06b44538d529084b3599f708643.eot");
    src: url("../fonts/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"),
    url("../fonts/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"),
    url("../fonts/1b4cd06b44538d529084b3599f708643.woff") format("woff"),
    url("../fonts/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"),
    url("../fonts/1b4cd06b44538d529084b3599f708643.svg#MuseoSansW01-Rounded300") format("svg");
}

@font-face {font-family: "MuseoSans500";
    src: url("../fonts/museosans-500.otf");
}

scroll-content {
    overflow-y: hidden;
}
.scroll-bar-indicator {
    display: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.item-radio-disabled {
    color: #d9d9d9 !important;
    box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
}

.item-radio-checked.item-radio-disabled {
    border-color: #d9d9d9 !important;
}

.item-radio-disabled .item-inner .input-wrapper ion-label {
    color: #d9d9d9 !important;
}

.getting-started {
	.radio-icon {
		display: none;
	}
	
	.item ion-radio {
		margin: 8px -15px 8px 8px;
	}

	ion-list {
		margin: 0 !important;
	}

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  	button.go-button[disabled] {
	  	background-color: #d9d9d9;
      box-shadow: 0px 0px 4px 0px rgba(117,117,117,0.56);
	}

}

.item {
  min-height: 0px !important;
}

/* HEADER */
.toolbar {
  min-height: 18.67vw !important;
}
.information-button {
	float: left;
}
.toolbar-title {
	color: #4A535D !important;
	font-family: "MuseoSansW01-Rounded700";
  font-size: 2.2rem;
}
.toolbar-title img {
	margin-top: 2px;
}

/* TOP AREA */
.upper {
	background-color: #4487db;
	height: 53.4%;
}

.infoBtnBlue {
  color: #4487db !important;
}

/* TIME BUTTONS */
.time-button-line ion-col {
	padding: 0px !important;
}
.time-button-line {
	background-color: #417fce;
	font-family: "MuseoSansW01-Rounded300";
	padding-left: 5%;
  padding-right: 5%;
}

.time-button-line .item-radio-checked {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "MuseoSansW01-Rounded700";
}
.time-button-line .item-radio-checked ion-label {
	color: #fff;
}
.time-button .item-inner {
	border: none !important;
	padding: 0px !important;
}
.time-button {
	  background-color: transparent;
	  color: #fff;
    text-align: center;
    padding: 0px !important;
    height: 9.34vw;
}
.time-button ion-label {
	font-size: 3.2vw;
	text-align: center;
}

/* WHITE AREA */
.lower {
	padding-left: 11%;
  padding-right: 8%;
  margin-top: 5%;
}

/* MONEY BUTTONS */
.money-button .item-inner {
	border: none !important;
	padding: 0px !important;
	text-align: center;
}

.money-button {
	border: 2px solid #fff;
	box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
	border-radius: 10px;
	color: #4487db;
	font-family: "MuseoSans500";
	font-size: 4.8vw;
	padding: 0px !important;
	height: 9.34vw;
  width: 15.2vw;
}
.money-button-line .item-radio-checked {
  border: 2px solid #4487db;
  box-shadow: 0px 0px 4px 0px rgba(68,134,219,0.40);
}


/* FOOTER: RISE/FALL/GO BUTTONS */
.footer {
	margin-top: 6%;
}
.footer ion-row {
	padding: 0px !important;
}
.footer-left {
	padding: 0px !important;
  margin-top: 1%;
}
.footer-right {
	padding: 0px !important;
	text-align: right;
}

.footer-left ion-list {
  width: 30.6vw;
}

.go-button {
	  width: 33.33vw;
    height: 33.33vw;
    font-size: 5vw;
    font-family: "MuseoSansW01-Rounded900";
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #4F4F4F;
    background: #4487db;
    margin-right: 9%;
}

/* RISE BUTTON */
.rise-button-item {
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
	color: #4487db;
	font-size: 3.7vw;
	font-family: "MuseoSansW01-Rounded700";
	padding: 0px !important;
	height: 13.8vw;

}

.rise-button-item .item-inner {
	border: none !important;
	padding: 0px !important;
	text-align: center;
	font-weight: 500;
}

.rise-button .item-radio-checked {
  box-shadow: 0px 0px 4px 0px rgba(68,135,219,0.40);
  border: 2px solid #4487db;
}

/* FALL BUTTON */
.fall-button-item {
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
	color: #4487db;
	font-size: 3.7vw;
	font-family: "MuseoSansW01-Rounded700";
	padding: 0px !important;
	height: 13.8vw;

}

.fall-button-item .item-inner {
	border: none !important;
	padding: 0px !important;
	text-align: center;
	font-weight: 500;
}

.fall-button .item-radio-checked {
  box-shadow: 0px 0px 4px 0px rgba(68,135,219,0.40);
  border: 2px solid #4487db;
}

/* If user is winning */
.winning-light {
	background-color: #00cf98 !important;
}

.winning-light-color {
  color: #00cf98 !important;
}

.winning-dark {
	background-color: #01be8c;
}

.winning-selected {
	background-color: #04a67b;
}

/* If user is losing */
.losing-light {
	background-color: #ff6363 !important;
}
.losing-light-color {
  color: #ff6363 !important;
}
.losing-dark {
	background-color: #ec5959;
}
.losing-selected {
	background-color: #dc5454;
}


ion-backdrop[disable-activated] {
    opacity: 0.45 !important;
    background: #404851;
}

/* Ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

.toolbar {
    min-height: 13.67vw !important;
}
.toolbar-title {
  font-size: 2.8rem;
}
.toolbar-title img {
  width: 25px;
  height: 25px;
}
.bar-button-menutoggle ion-icon {
    font-size: 3.8rem;
}
.time-button-line {
    padding-left: 15%;
    padding-right: 15%;
}
.time-button {
    height: 8vw;
}
.time-button ion-label {
    font-size: 2.7vw;
    text-align: center;
}
.upper {
	height: 53.5%;
}
.lower {
   padding-left: 20%;
   padding-right: 20%;
   margin-top: 4vw;
}
.money-button {
   border: 2px solid #fff;
   box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
   border-radius: 10px;
   color: #4487db;
   font-size: 3.5vw;
   padding: 0px !important;
   height: 8vw;
   width: 12vw;
}
.go-button {
   width: 24vw;
   height: 24vw;
   font-size: 4vw;
   font-family: "MuseoSansW01-Rounded900";
   border-radius: 50%;
   background: #4487db;
}
.rise-button-item {
   border: none;
   border-radius: 10px;
   box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
   color: #4487db ;
   font-size: 2.7vw;
   font-family: "MuseoSansW01-Rounded700";
   padding: 0px !important;
   height: 10vw;
}
.fall-button-item {
   border: none;
   border-radius: 10px;
   box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
   color: #4487db ;
   font-size: 2.7vw;
   font-family: "MuseoSansW01-Rounded700";
   padding: 0px !important;
   height: 10vw;
}
.rise-button-item img {
	width: 20px;
	height: 20px;
}
.fall-button-item img {
	width: 20px;
	height: 20px;
}
.footer {
    margin-top: 6%;
}
.footer-left ion-list {
    width: 22.6vw;
}

}
.graphDot {
    position: absolute;
    background: #fff;
    margin-top: 40%;
    margin-left: 90%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.graphDot2 {
	opacity: 0;
    position: absolute;
    background: #fff;
    margin-left: 70%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.graphDot3 {
	opacity: 0;
    position: absolute;
    background: #fff;
    margin-left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.graphDot4 {
	opacity: 0;
    position: absolute;
    background: #fff;
    margin-left: 46%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.graphDot5 {
	opacity: 0;
    position: absolute;
    background: #fff;
    margin-left: 15%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


/* Custom Alert Market Closed */
.customMarketAlert .alert-wrapper {
    -webkit-box-shadow: 3px 9px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 39px 0px rgba(0,0,0,0.75);
    background-color: #efefef;
    border-radius: 10px 10px 10px 10px;
    height: 51%;
    width: 75%;
}
.alert-title {
    font-size: 1.5em;
    text-align: center;
}
.alert-sub-title {
    font-size: 1.2em;
    text-align: center;
}
.alert-message {
    height: 36%;
    background-color: #dc5454;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #dc5454;
}
.alert-message, .alert-input-group {
    padding: 0 !important;
}
.alert-head {
  height: 65%;
}
.alert-wrapper {
  max-width: none;
}
.alert-button-group {
  display: none;
}
.message-footer-text1 ion-label {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 6%;
  font-family: MuseoSansW01-Rounded700;
}
.message-footer-text2 ion-label {
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  margin-top: -2%;
}
.row-img {
    position: absolute;
    margin-top: -106px;
    text-align: center;
}
.row-img img{
    height: 102px;
    width: 150px;
}

@media only screen and (max-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) {
    .footer {
        margin-top: 2%;
    }
    .upper {
        height: 51.4%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .row-img {
    position: absolute;
    margin-top: -207px;
    text-align: center;
  }
  .row-img img{
    height: 204px;
    width: 300px;
  }
  .alert-title {
    font-size: 2.5em;
    text-align: center;
  }
  .alert-sub-title {
    font-size: 2.2em;
    text-align: center;
  }
  .message-footer-text1 ion-label {
    color: #fff;
    font-size: 2.2em;
    text-align: center;
  }
  .message-footer-text2 ion-label {
    color: #fff;
    font-size: 4.2em;
    text-align: center;
  }
}

/* NEXUS 10 */
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
    .toolbar {
        min-height: 15.67vw !important;
    }
    .toolbar-title {
        font-size: 3.5rem;
    }
    .bar-button-menutoggle ion-icon {
        font-size: 4.5rem;
    }
    .toolbar-title img {
        width: 33px;
        height: 30px;
    }
    .upper {
        height: 53%;
    }
    .time-button-line {
        padding-left: 10%;
        padding-right: 10%;
    }
    .time-button {
        height: 9vw;
    }
    .time-button ion-label {
        font-size: 3vw;
    }
    .lower {
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 5vw;
    }
    .money-button {
        font-size: 3.8vw;
        height: 9vw;
        width: 13vw;
    }
    .go-button {
        width: 28vw;
        height: 28vw;
        font-size: 5vw;
    }
    .rise-button-item {
        font-size: 3vw;
        height: 12vw;
    }
    .fall-button-item {
        font-size: 3vw;
        height: 12vw;
    }
    .footer-left ion-list {
        width: 24.6vw;
    }
    /* If user is winning */
    .winning-light {
      background-color: #00cf98;
    }

    .winning-light-color {
      color: #00cf98 !important;
    }

    .winning-dark {
      background-color: #01be8c;
    }

    .winning-selected {
      background-color: #04a67b;
    }

    /* If user is losing */
    .losing-light {
      background-color: #ff6363;
    }
    .losing-light-color {
      color: #ff6363 !important;
    }
    .losing-dark {
      background-color: #ec5959;
    }
    .losing-selected {
      background-color: #dc5454;
    }
    .item-radio-disabled {
        color: #d9d9d9 !important;
        box-shadow: 0px 0px 4px 0px rgba(217,217,217,0.80);
    }
    .item-radio-checked.item-radio-disabled {
        border-color: #d9d9d9 !important;
    }

    .item-radio-disabled .item-inner .input-wrapper ion-label {
        color: #d9d9d9 !important;
    }
}
