.getting-started {
	.radio-icon {
		display: none;
	}
	
	.item ion-radio {
		margin: 8px -15px 8px 8px;
	}

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}
.information-button {
	float: left;
}
.upper {
	background-color: #4487db;
	height: 50vh;
}
.time-button {
	background-color: #417fce;
}
.time-button ion-item {
	background: transparent;
	color: #fff;
}
.time-button ion-label {
	font-size: 0.7em;
	text-align: center;
}
.lower {
	padding-left: 30px;
	padding-right: 30px;
}
.money-button ion-label {
	font-size: 0.7em;
	text-align: center;
	color: #4487db;
}
.money-button ion-item  {
	border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    border-color: #4487db;
}