.getting-started {
	.radio-icon {
		display: none;
	}
	
	.item ion-radio {
		margin: 8px -15px 8px 8px;
	}

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}
.information-button {
	float: left;
}
.upper {
	background-color: #4487db;
	height: 50vh;
}
.time-button-line ion-col {
	padding: 0px !important;
}
.time-button-line {
	background-color: #417fce;
	padding-left: 11vw;
    padding-right: 11vw;
}
.time-button-line ion-item {
	min-height: 3.8rem;
}
.time-button-line .item-radio-checked {
	background-color: #386fb6;
}
.time-button-line .item-radio-checked ion-label {
	color: #fff;
}
.time-button .item-inner {
	border: none !important;
	padding: 0px !important;
}
.time-button {
	background-color: #417fce;
	color: #fff;
    text-align: center;
    padding: 0px !important;
}
.time-button ion-label {
	font-size: 0.7em;
	text-align: center;
}
.lower {
	padding-left: 30px;
	padding-right: 30px;
}
.money-button ion-label {
	font-size: 0.7em;
	text-align: center;
	color: #4487db;
}
.money-button ion-item  {
	border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    border-color: #4487db;
}