.middle-you-won {
	padding-top: 11%;
}
.middle-you-won ion-col {
	text-align: center;
}
.middle-you-won .activated {
	background-color: #f35d5d !important;
}
.middle-you-won img {
	position: relative;
	z-index: 10;
	margin-top: 5px;
}
.middle-you-won button img {
	position: relative;
	z-index: 10;
	margin-right: 10px;
}
.label-green img {
	margin-top: -15px;
}
.buttons {
	margin-top: 15%;
}
.button-trade button {
	width: 100%;
	height: 13.3vw;
	border-radius: 10px;
	margin-top: -17px;
	text-transform: none !important;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
	font-family: "MuseoSansW01-Rounded700";
}
.button-trade button img {
	margin-right: 10px;
}
.won-button .activated {
	background-color: #03af81 !important;
}
.lost-button .activated {
	background-color: #f35d5d !important;
}
.button-share-facebook button {
	width: 100%;
	height: 13vw;
	border-radius: 10px;
	margin-top: -17px;
	background-color: #4267b2;
	text-transform: none !important;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
	margin-top: 5%;
	font-family: "MuseoSansW01-Rounded700";
}
.button-share-facebook .activated {
	background-color: #3a5da5 !important;
}
.button-share-facebook button img {
	margin-right: 10px;
}
.button-share-anywhere button {
	width: 100%;
	height: 13vw;
	border-radius: 10px;
	margin-top: -17px;
	background-color: #4a535d;
	text-transform: none !important;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
	margin-top: 5%;
	font-family: "MuseoSansW01-Rounded700";
}
.button-share-anywhere .activated {
	background-color: #404850 !important;
}
.button-share-anywhere button img {
	margin-right: 10px;
}
.text-you-top {
	position: relative;
	z-index: 20;
	color: #fff;
    margin-top: -76px;
    font-size: 1.55em;
}
.text-you-bottom {
    position: relative;
	z-index: 20;
	color: #fff;
	margin-top: 25px;
	font-size: 1.3em;
    margin-left: 7px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.george-won img {
		width: 232px;
		height: 230px;
	}
	.george-lost img {
		width: 342px;
		height: 232px;
	}
	.label-green img {
		height: 135px;
		width: 400px;
	}
	.text-you-top {
	    margin-top: -118px;
	    font-size: 2.2em;
	}
	.text-you-bottom {
	    font-size: 1.9em;
	    padding-top: 10px;
	}
	.button-trade button {
		font-size: 1.6em;
	}
	.button-share-anywhere button {
		font-size: 1.6em;
	}
	.button-share-facebook button {
		font-size: 1.6em;
	}
	.button-trade img {
		width: 34px;
		height: 25px;
	}
	.button-share-anywhere img {
		width: 30px;
		height: 25px;
	}
	.buttons {
        margin-top: 10%;
    }
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
	.middle-you-won {
	    padding-top: 19%;
	}
}